.describtionbox-navigator {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 60px;
}

.describtionbox-nav-box,
.describtionbox-nav-fade {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
    width: 125px;
    height: 50px;
    border: 1px solid #003566;
}

.descriptionbox-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #003566;
    color: #003566;
    width: 150vh;
    margin-left: 20px;
    margin-bottom: 60px;
    padding: 48px;
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .describtionbox-navigator {
        padding-left: 10px;
        padding-top: 30px;
    }

    .describtionbox-nav-box,
    .describtionbox-nav-fade {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }

    .descriptionbox-content {
        width: 130vh;
        margin-left: 10px;
        margin-bottom: 30px;
        padding: 36px;
        padding-bottom: 10px;
    }

}


